<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite">
	<test thread-count="5" name="MyTestResults">
		<classes>
			<!-- <class name="testScenarios.AlertHandleDemo" /> -->
			<class name="testScenarios.NavigationalMethods" />
			<class name="testScenarios.ValidationCommandDemo" />
			<class name="testScenarios.NewTestDemo" />
			<class name="testScenarios.DropdownDemo" />
			<class name="testScenarios.FB_login" />
			<class name="testScenarios.PHPtravels" />
			<class name="testScenarios.OrangeHRM" />
		</classes>

		<!-- <packages>
			<package name="testScenarios" />
		</packages> -->
	</test> <!-- Test -->
</suite> <!-- Suite -->
