<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite">
	<test thread-count="5" name="MyTestResults">
		<classes>
			<class name="testScenarios.NavigationalMethods" />			
			<class name="testScenarios.NewTestDemo" />
			<class name="testScenarios.FB_login" />			
			<class name="testScenarios.OrangeHRM" />
			<class name="testScenarios.GetText_Demo" />			
		</classes>
		
	</test> <!-- Test -->
</suite> <!-- Suite -->
